body {
  background-color: #F1F1F1;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
body._lock {
  overflow: hidden;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
ul,
ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
 }
 button {
  border: none;
 }
 .container {
  margin: 0 auto;
 }
  @media screen and (min-width: 320px) {
    .container {
      max-width: 320px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 75px;
    padding-left: 75px;
  }
  }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 71px;
    padding-left: 71px;
  }
    
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}
.wrapper {
  min-height: 100%;
}
 .section-title {
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
 }

                                         /* header-section */

.header {
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}                                
.header__advt {
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  background-color: #D8BF95;
  width: 100%;
}

.nav__item {
  font-size: 18px;
  text-transform: uppercase;
}
.header__burger {
  display: none;
}

.header__burger__icon-cross {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__burger {
    z-index: 30;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
  }
  .header__burger._active .header__burger__icon-cross {
    display: block;
  }
  .header__burger._active .header__burger__icon-menu {
    display: none;
  }
  .logo {
    display: none;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #D8BF95;
    padding: 130px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu._active {
    left: 0;
  }
  .nav__item {
    margin-bottom: 20px;
  }
  .nav__list .nav__item:last-child {
    margin-bottom: 0;
  }
  .header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  .header__user li {
    margin-right: 15px;
  }
  .header__user li:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .nav__list li {
    margin-right: 20px;
  }
  .nav__list li:last-child {
    margin-right: 0px;
  }
  .header__logo {
    display: none;
  }
  .logo {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
  }
  .header__user {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 2%;
  }
  .header__user li {
    margin-right: 10px;
  }
  .header__user li:last-child{
    margin-right: 0;
  }
}      
  
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 30px 60px;
  } 
  .nav__list li {
    margin-right: 60px;
  }
}


                                 /* section-hero */
.section-hero {
  margin: 0 auto;
}
.section-hero__list {
  display: flex;
  justify-content: center;
}
.section-hero__list-item {
  position: relative;
}
.section-hero__list-describe {
  position: absolute;
  bottom: 20px;
  left: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

/* slider */
.image-slider {
  padding: 0px 0 50px 0;
}
.image-slider .swiper-button-prev::after, 
.image-slider .swiper-button-next::after {
  color: #fff;
  font-size: 20px;
}
.image-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  background-color: #D8BF95;
}
.image-slider .swiper-pagination {
  margin-bottom: 15px;
}
.image-slider .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #D8BF95;
  
}
.image-slider__image {
  text-align: center;
}
.image-slider__image img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 1500px) {
  .section-hero {
    width: 1400px;
  }
}
                                /* section-discribe */
.section-discribe {
  padding-top: 50px;
}                             
.discribe__title {
  margin-bottom: 31px;
}
.discribe__link {
  font-size: 20px;
  margin-left: 150px;
  margin-bottom: 20px;
}
.discribe__text {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .discribe__link {
    margin-left: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .discribe {
    padding-top: 116px;
  } 
  .discribe__cont {
    display: flex;
    
  }
  .discribe__title {
    margin-right: auto;
    max-width: 860px;
    font-size: 64px;
    margin-bottom: 31px;
  }
  .discribe__link {
    margin: 0px;
  }
}


                                /* .section-newArrivals */
.section-newArrivals {
  padding-top: 50px;
  margin: 0 auto;
}
.image-slider-newArrivals {
  padding-top: 50px;
}
.image-slider-newArrivals .swiper-button-prev::after, 
.image-slider-newArrivals .swiper-button-next::after {
  color: #D8BF95;
  font-size: 20px;
}

.image-slider-newArrivals__image {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.image-slider-newArrivals__image img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: contain;
}
.newArrivas__thumb {
  padding: 15px;
}

.newArrivas__link {
  font-size: 18px;
  margin-top: 15px;
}
.newArrivas__price {
  font-size: 20px;
  margin-top: 15px;
}
.newArrivas__title {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  .section-newArrivals {
    width: 1400px;
  }
}

                              /* section-tShirt */
.section-tShirt {
  padding-top: 80px;
}
.tShirt__list-item  img{
  width: 100%;
  height: auto;
}
.tShirt__list-item-title {
  font-size: 44px;
  margin: 20px;
}
.tShirt__list-item-disc {
  font-size: 20px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .tShirt__list {
    display: flex;
    justify-content: center;
  }
  .tShirt__list-item {
    position: relative;
  }
  .tShirt__list-item-title {
    position: absolute;
    margin: 0;
    top: 0;
    left: 40px;
  }
  .tShirt__list-item-disc {
    position: absolute;
    bottom: 0;
    left: 30px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-tShirt {
    padding-top: 180px;
  }
  .tShirt__list-item-title {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 44px;
  }
  .tShirt__list-item-disc {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 20px;
  }
}
                                   /* section-ctegories */
.section-categories {
  padding-top: 50px;
  margin: 0 auto;
}
.section-ctegories__box {
  margin-bottom: 15px;
}
.newArrivals__box-arrow {
  display: flex;
  align-items: center;
  justify-content: end;
}
.categories__list {
 margin: 0 auto;
}
.categories__list-item {
  margin-bottom: 20px;
  position: relative;
}
.categories__list-item:last-child {
  margin-bottom: 0px;
}
.categories__list-item-photo {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}
.categories__list-item-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 33px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .categories__list {
    display: flex;
    justify-content: center;
  }
  .categories__list-item {
    margin-bottom: 0;
    margin-right: 10px;
    position: relative;
  }
  .categories__list-item:last-child {
    margin-right: 0px;
  }
  
}
@media screen and (min-width: 1200px) {
  .section-categories {
    padding-top: 150px;
  }
}
@media screen and (min-width: 1500px) {
  .section-categories {
    width: 1400px;
  }
}
                                           /* section-books */
.section-books {
  padding-top: 100px;
  margin: 0 auto;
}

.books__item {
  position: relative;
}
.books__item-title {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 24px;
  font-weight: 600;

}
.books__item-photo {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .books__list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1500px) {
  .section-books{
    width: 1400px;
  }
}
                                         /* section-etnical */
.section-etnical {
  padding-top: 30px;
  margin: 0 auto;
}
.etnical__desc {
  font-size: 32px;
  margin-bottom: 80px;
}
.etnical__list {
 margin: 0 auto;
}
.etnical__item {
  margin-bottom: 50px;
}
.etnical__item:last-child {
  margin-bottom: 0px;
}

.etnical__item-figure {
  font-size: 30px;
  line-height: 1.5;
  margin-top: 50px;
}
.etnical__item-text {
  font-size: 24px;
  margin-top: 40px;
}
.etnical-link {
  margin-top: 55px;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .etnical__desc {
    font-size: 43px;
    line-height: 1.4;
    margin-bottom: 84px;
  }
  .etnical__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .etnical__item {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .etnical__item:last-child {
    margin-right: 0px;
  }
  .etnical__item-text {
    margin-top: 72px;
    width: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .section-etnical {
    padding-top: 120px;
  }
  .etnical__desc {
    max-width: 629px;
  }
  .etnical__item {
    margin-right: 70px;
    margin-bottom: 0;
  }
  
}
@media screen and (min-width: 1500px) {
  .section-etnical {
    width: 1400px;
  }
}
                                     /* section-rings */
.section-rings {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.rings__item {
  position: relative;
}
.rings__item-hesh {
font-size: 18px;
position: absolute;
top: 67px;
left: 50px;
}
.rings__item-title {
 font-size: 34px;
 margin: 10px 20px;

}
.rings__item-shop {
  font-size: 18px;
  margin: 10px 20px;
}
.rings__item-photo {
  width: 100%;
  
}
@media screen and (min-width: 768px) {
  .rings__list {
    display: flex;
    justify-content: center;
  }
  .rings__item-title {
    font-size: 48px;
    position: absolute;
    top: 47px;
    left: 50px;
    margin: 0;
   }
   .rings__item-shop {
    font-size: 18px;
    position: absolute;
    bottom: 64px;
    left: 50px;
    margin: 0;
  }
}
@media screen and (min-width: 1500px) {
  .section-rings {
    width: 1400px;
  }
}
                                 /* section-subscribe */
.section-subscribe {
  color: #FFFFFF;
  padding: 100px 0;
  background-image: url(../image/optimaPhoto/section-subscribe/subscribe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__item {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
} 
.subscribe__item:last-child {
  margin-right: 0px;
}

.subscribe__subscribe {
  font-size: 46px;
  line-height: 1.3;
  margin-top: 150px;

}
.subscribe__news {
  font-size: 18px;
  line-height: 1.25;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .subscribe__list {
    display: flex; 
  }
  .subscribe__item {
    margin-right: 110px;
  } 
  .subscribe__item:last-child {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section-subscribe {
    padding: 150px 0px;
  }
  .subscribe__item {
    margin-right: 250px;
  } 
}

                                         /* section-footer */
.section-footer {
 padding: 50px;
}
.footer__list .footer__item {
 margin-bottom: 20px;
 font-size: 18px;
 line-height: 1.25;
}
.footer__list .footer__item:last-child {
  margin-bottom: 0px;
}

.footer__item-title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.39;

}


@media screen and (min-width: 768px) {
  .section-footer {
    padding-top: 100px;
  }
  .footer__list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
     /* grid-gap: 50px; */
  }
  .footer__item-shop-list {
    column-count: 2;
    margin-right: 50px;
  }

  .footer__list .footer__item {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .footer__list .footer__item:last-child {
    margin-right: 0px;
  }
}